In [1]:
# https://www.kaggle.com/sklasfeld/housingdataeda-v1
# For Python3

import numpy as np
import pandas as pd

import os
for dirname, _, filenames in os.walk('data'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

data\data_description.txt
data\sample_submission.csv
data\test.csv
data\train.csv

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

# 魔法指令，用于内嵌绘图，不需要 plt.show()就可以出图
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [3]:
df_train = pd.read_csv('data/train.csv')
df_test = pd.read_csv('data/test.csv')

In [4]:
# print shape before removing duplicates
print(df_test.drop(["Id"], axis=1).shape)
# remove the duplicates and print shape
print(df_test.drop(["Id"], axis=1).drop_duplicates().shape)

(1459, 79)
(1459, 79)

In [5]:
def one_hot_encode(df, col, inplace=False):
    df[col] = pd.Categorical(df[col])
    dfDummies = pd.get_dummies(df[col], prefix=col)
    df = pd.concat([df, dfDummies], axis=1)
    if inplace:
        df = df.drop([col], axis=1)
    return(df)

In [6]:
cat_ord_vars=["MSSubClass", "MSZoning", "Street", "Alley", "LandContour", \
             "LotConfig", "Neighborhood", "Condition1", "Condition2", "BldgType", \
             "RoofStyle", "RoofMatl", "Exterior1st", "Exterior2nd", "MasVnrType", \
             "Foundation", "Electrical", "Heating", "GarageType", "MiscFeature", \
             "SaleType", "SaleCondition", "MoSold"]

for cat_ord_col in cat_ord_vars:
    df_train = one_hot_encode(df_train, cat_ord_col)
    df_test = one_hot_encode(df_test, cat_ord_col)

In [7]:
df_train.head(1).MoSold

0    2
Name: MoSold, dtype: category
Categories (12, int64): [1, 2, 3, 4, ..., 9, 10, 11, 12]

In [8]:
print(df_test.shape)

(1459, 250)

In [9]:
df_train.shape

(1460, 264)

In [12]:
df_train.head(1)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MoSold_3,MoSold_4,MoSold_5,MoSold_6,MoSold_7,MoSold_8,MoSold_9,MoSold_10,MoSold_11,MoSold_12
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,0,0,0,0,0,0,0

In [21]:
oh_test = df_train["MSSubClass"]
oh_test.head(1)
oh_test = pd.DataFrame(oh_test)
oh_test = one_hot_encode(oh_test, "MSSubClass")
oh_test.head(1)

,MSSubClass,MSSubClass_20,MSSubClass_30,MSSubClass_40,MSSubClass_45,MSSubClass_50,MSSubClass_60,MSSubClass_70,MSSubClass_75,MSSubClass_80,MSSubClass_85,MSSubClass_90,MSSubClass_120,MSSubClass_160,MSSubClass_180,MSSubClass_190
0,60,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0