In [1]:
import numpy as np
import pandas as pd

In [4]:
# Object creation

s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
# Create a DataFrame by Numpy array, with datetime index
dates = pd.date_range('20190829', periods=6)

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2019-08-29 -0.364643  0.223194 -1.044542 -0.660715
2019-08-30  1.773921  0.115062  0.245538  1.236335
2019-08-31 -0.340497 -1.036744 -0.945796 -0.655874
2019-09-01 -1.137777 -0.199154 -1.125118 -0.852950
2019-09-02  0.249527 -1.293000  0.257974  0.318313
2019-09-03 -0.133394  0.661534  0.857558 -1.483951

In [8]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20190829'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(['box1', 'box2', 'box3', 'box4']),
                    'F': 'strange'})
df2

     A          B    C  D     E        F
0  1.0 2019-08-29  1.0  3  box1  strange
1  1.0 2019-08-29  1.0  3  box2  strange
2  1.0 2019-08-29  1.0  3  box3  strange
3  1.0 2019-08-29  1.0  3  box4  strange

In [9]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [13]:
df.tail(3)

                   A         B         C         D
2019-09-01 -1.137777 -0.199154 -1.125118 -0.852950
2019-09-02  0.249527 -1.293000  0.257974  0.318313
2019-09-03 -0.133394  0.661534  0.857558 -1.483951

In [14]:
df.index

DatetimeIndex(['2019-08-29', '2019-08-30', '2019-08-31', '2019-09-01',
               '2019-09-02', '2019-09-03'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

NumPy arrays have one dtype for the entire array, while pandas DataFrames have one dtype per column.

Can't use df.to_numpy() any more

In [23]:
np.array(df)

'markdown'

In [26]:
# show a quick statistic summary of all data
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.007856 -0.254851 -0.292398 -0.349807
std    0.976721  0.761227  0.848617  0.968711
min   -1.137777 -1.293000 -1.125118 -1.483951
25%   -0.358606 -0.827347 -1.019856 -0.804891
50%   -0.236945 -0.042046 -0.350129 -0.658295
75%    0.153797  0.196161  0.254865  0.074766
max    1.773921  0.661534  0.857558  1.236335